<% microposts.each do |micropost| %>
    <li style="border-top: 1px solid #e0e0e0">
      <% if view_gravatar %>
          <div class="gravatar" style="display: inline-block;width: 60px;min-height: 60px;">
            <%= link_to gravatar_for(micropost.user), micropost.user %>
          </div>
      <% end %>
      <div class="micropost" style="position:relative;display: inline-block;width: <%= (view_gravatar)?375:435 %>px;min-height: 60px;vertical-align: top;padding-top: 3px;padding-bottom: 3px;">
        <div class="user" style="display:inline-block;text-align: left">
          <%= link_to micropost.user.name, micropost.user %>
          <span class="timestamp">
        Posted <%= time_ago_in_words(micropost.created_at) %> Ago.
      </span>
        </div>
        <div style="position:absolute;top:3px;right:3px;display:inline-block;text-align: right;">
          <% if current_user?(micropost.user) %>
              <%= link_to "delete", micropost, :method => :delete,
                          :confirm => "You sure?",
                          :title => micropost.content %>
          <% end %>
        </div>
        <div class="content"><%= wrap micropost.content %></div>
      </div>
    </li>
<% end %>